body {
    background-color: #fdffbb;
    animation: dynamicbg 2s infinite;
}

/*@keyframes dynamicbg {
    from {background-color: red;}
    to {background-color: blue;}
}*/

#container {
    margin: auto 10rem;
    text-align: center;
    padding: 2rem;
}

#GIF-media {
    padding: 2rem;
}

button {
    display: block;
    border: none;
    padding: 1rem;
    margin: 0 auto;
}

button:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: #BDBBFF;
    border-radius: 1rem;
}

h1 {
    color: red;
}