/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@600&display=swap');

body {
    background-color: #fdffbb;
    animation: dynamicbg 5s infinite;
    font-family: 'Noto Sans Display', sans-serif;
}

@keyframes dynamicbg {
    100% {background-color: #F7C59F;}
    75% {background-color: #824A63;}
    50% {background-color: #AA5042;}
    25% {background-color: #EFEFD0;}
    0% {background-color: #2D3142;}
}

#main-header {
    display: flex;
    justify-content: center;
}

#header-icon {
    margin-right: -0.4rem;
}

#header-text {
    margin-left: 0;
    padding: 0;
}

#header-nav-bar {
    display: flex; 
    justify-content: center;
}

#menu-items {
    list-style-type: none;
    border-bottom: #020045 solid 2px;
    border-top: #020045 solid 2px;
    padding:0.2rem;
}

.menu-item {
    display: inline;
    margin: 0 3rem;

}

.menu-item-button {
    border: none;
    background: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

#container {
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}

table {
    margin: 0 auto;   
}

#GIF-media {
    padding: 2rem;
}

#bottompic {
    padding: 20px;
}

#song {
    display: none;
}

#button-to-change {
    display: block;
    background-color: #5857A8;
    color: #DBDAFF;
    font-family: 'Noto Sans Display', sans-serif;
    border: none;
    padding: 1rem;
    margin: 0 auto;
}

#button-to-change:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: #BDBBFF;
    color: #020045;
    border-radius: 1rem;
}

h1 {
    color: #8C88FF;
    margin-bottom: -0.7rem;
}

p {
    margin-top: -0.7rem;
}